.comment {
  margin-bottom:.5em;
  list-style-type:none;

  span{color: #EC407A; padding-right:20px;}
}

textarea.form-control{border:1px solid rgba(0,0,0,.15) !important; margin-top:3em}

.comments .username{font-weight:600}

.comments .material-icons{width:30px}
.comments .col-2{padding: 0; text-align:right}
.comments .btn{padding: 0 4px}
.comments .col-2:first-child,.comments .col-2:nth-child(2){text-align: left}
.btn, .material-icons{max-width: 100%}
.material-icons{min-width:40px}
.counter{position: relative;top:-6px}
.comments .btn-outline-secondary:hover {border-color: white; background-color: white}

b{color: #EC407A}

.likes-button .true {
  color: red;
}
.likesComments{border-radius: 0}

.btn-outline-secondary{border-color: white}

.voteButtons .btn{border-width: 1px 0;}
.input-group-prepend .btn {border-radius: 0}

.comments .form-control{border-color: white;}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
  box-shadow: none;
}

.btn-outline-secondary:hover {
  color: red;
}



.image > p{display: none !important}
.votes{display: none}
.comments {
  width: 100%;
  padding: 0;
  margin: 0;

  .col{padding: 0}
  .row{margin:24px 0 !important;}

  textarea {
    width: 100%;
    margin-top:1.5em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
