.comments {
  width: 100%;
  padding: 0;
  margin: 0;

  .red{color: red}

  .comment, .review {
    margin-bottom:.5em;
    list-style-type:none;

    span{color: #EC407A; padding-right:20px;}
  }

  .username{font-weight:600}

  .material-icons{width:30px; min-width:40px; max-width: 100%}
  .col-2{padding: 0; text-align:right}
  .col-2:first-child, .col-2:nth-child(2){text-align: left}
  .btn{padding: 0; max-width: 100%}
  .counter{position: relative;top:-6px}
  .btn-outline-secondary:hover {border-color: white; background-color: white}

  b{color: #EC407A}

  .likes-button .true {
    color: red;
  }
  .likesComments{border-radius: 0}

  .btn-outline-secondary{border-color: white}

  .voteButtons .btn{border-width: 1px 0;}
  .input-group-prepend .btn {border-radius: 0}

  .form-control{border-color: white;}

  .btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none;
  }

  .btn-outline-secondary:hover {
    color: red;
  }


  .image > p{display: none !important}
  .votes{display: none}

  .col{padding: 0}
  .row{margin:24px 0 !important;}

  textarea.form-control {
    width: 100%;
    border: 1px solid rgba(0,0,0,.15) !important;
    margin-top: 2.5em
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
