.comment span{color: #EC407A; padding-right:20px;};
.comment{margin-bottom:.5em;list-style-type:none}
.comments .username{font-weight:500}

textarea.form-control{border:1px solid rgba(0,0,0,.15) !important; margin-top:3em}

b{color: #EC407A}

.likes-button .true {
  color: red;
}
.likesComments{border-radius: 0}

.btn-outline-secondary{border-color: white}

.voteButtons .btn{border-width: 1px 0;}
.input-group-prepend .btn {border-radius: 0}

.comments .form-control{border-color: white;}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
  box-shadow: none;
}

.likes-button{border-radius: 0 0 0 .25rem; border-right-width:0}

.btn-outline-secondary:hover {
  background-color: #f2f2f2 !important;
  color: red;
}

div.post-ele {
  margin-bottom:75px;
  padding: 0;
}

.ele{border: none}



.content-ele{
  font-style: italic;
  margin: .75em 0;

::before{content: '&ldquo;'}
::after{content: '&rdquo;'}

}


.image > p{display: none !important}
.votes{display: none}
.comments {
  width: 100%;
  padding: 0;
  margin: 0;

  textarea{margin-top:1em}

  .col{padding: 0}
  .row{margin:0 !important}

  textarea {
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {

    }
  }
}
