#header {
  background: #EC407A;
  height: 60px;
  width: 100%;
  color: white;
  text-align: right;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-right: 40px;
  line-height: 60px;

  a {color: white;padding-left: 40px;}
  h1 { position: absolute; left: 40px; line-height: 60px;text-align: left; font-size: 32px; font-weight: 300; letter-spacing: 4px;}
}
#header button {color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin-left: 4px;
}

#header button.logout{
  margin-left: 30px;
}

.searchBar {
  block: display;
  float: left;
  height: 80%;
}

.logout {
  margin-left: 20px;
}

#title{position: absolute}
