#submit {
  width: 600px
  margin: 40px auto

  #photoPicker { display: none }

  .btn-secondary{border: none; padding: 0; color: #ad1457}
  .dropdown-menu{min-width: auto; }
.recipe-col {padding:0

.recipe-btn {text-align: right}
}

.recipe-btn {text-align: right; background: white; color: #ad1457; width: 100%;
box-shadow: none; padding: 0; border: none; outline: none !important}


  .suggestions {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 0 .25rem .25rem;
    background: white;
    position: absolute;
    width: 100%;
    z-index: 10;
    padding-left: 0;
  }

  .suggestions li {
    padding: .5rem .75rem;
    list-style-type: none;

    &:hover {
      background-color: #f2f2f2;
    }
    button {
      padding: 0;
      background: transparent;
      border: none;
      outline: none;
      drop-shadow: none;
    }
  }

  #dropzone{
    align-items: center
    justify-content: center
    height: 232px
    display: flex
    border: 1px solid rgba(0,0,0,.15)
    border-radius: .25em

    &:hover .material-icons {
      color: #5cb3fd
      transition-property: color
      transition-duration: .25s
    }
    img {max-width: 100%; max-height: 100%}
  }

  button:hover .material-icons {
    color: red
  }

  .likes .material-icons, .dislikes .material-icons { color: red }

  .like-btn {
    padding: 7px 16px 6px 0
    background: white
    font-size: 20px
    border: 0 solid #fff
  }

  .btn:focus { box-shadow: none }

  .col-3 {
    color: #AD1457
    line-height: 36px
    text-align: right
  }

  .glyphicon {
    font-family: 'Glyphicons'
  }

  input {
    display: block
    margin-bottom: 12px
  }

  textarea {
    margin-bottom: 13px
  }
}
